body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  div.main{
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    border-radius: 10px;
    margin: 100px 10px;
    padding-top: 10px;
  }
div.container{
  background-color: rgba(83, 83, 83, 0.465);
  box-shadow: 0px 0px 20px lightgray;
}
  a{
    color: #ffffff;
  }
  .a:hover{
    background-color: rgb(172, 166, 156);
  }
  
  